export interface {{formattedComponentName}}Props {
}
const {{formattedComponentName}} = (props: {{formattedComponentName}}Props) => {
    return (
        <div data-testid="{{formattedComponentTestId}}">
            <p>{{formattedComponentName}}</p>
        </div>
    )
}
export default {{formattedComponentName}}